


<div class="row">
  <div class="col-sm-6">
    <h1>Lesson_links</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_lesson_link_path, class: 'btn btn-primary' do %>
    Add New Lesson link
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Lesson</th>
            <th>Link url</th>
            
      </tr>
    </thead>

    <tbody>
      <% @lesson_links.each do |lesson_link| %>
        <%= content_tag :tr, id: dom_id(lesson_link), class: dom_class(lesson_link) do %>
          
            <td><%= link_to lesson_link.name, lesson_link %></td>
          

                      <td><%= lesson_link.lesson %></td>
                      <td><%= lesson_link.link_url %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
