
  
<div class="col-md-9">
  <% @lessons.each_with_index do |lesson, index| %>
    <% if index % 2 != 0 %>
      <div class="row">
    <% end %>
    <div class="col-md-6">
      
      <div class="card shadow-sm shadow--hover mb-5 episode" id="episode_279">
        <%= link_to lesson_path(lesson), class: "d-block episode-thumbnail" do %>
          <%= image_tag lesson.image, class: "card-img-top", alt: lesson.title %>
          <span class="episode-length"><%= lesson.length %></span>
        <% end %>
        
        <div class="card-body">
          <%= link_to lesson.title, lesson_path(lesson), class: "h5 lh-150 text-info--hover" %>
            <h6 class="text-muted text-sm mt-3 mb-0">
              #277
              ·
              <time datetime="2018-12-26T06:00:00Z" data-local="time" data-format="%b %d, %Y" title="December 26, 2018 at 1:00am EST" data-localized="" aria-label="Dec 26, 2018">Dec 26, 2018</time>
            </h6>
            <p class="mt-1 mb-0 lh-150">
              <%= lesson.transcript %>
            </p>
        </div>

      </div>
    </div>
    <% if index % 2 != 0 %>
      </div>
    <% end %>
  <% end %>

  <div class="text-center">
    <nav><ul class="pagination"><li class="page-item disabled"><span class="page-link">←</span></li> <li class="page-item active"><span class="page-link">1</span></li> <li class="page-item"><a class="page-link" rel="next" href="/episodes?direction=desc&amp;page=2&amp;sort=number">2</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=3&amp;sort=number">3</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=4&amp;sort=number">4</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=5&amp;sort=number">5</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=6&amp;sort=number">6</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=7&amp;sort=number">7</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=8&amp;sort=number">8</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=9&amp;sort=number">9</a></li> <li class="page-item disabled"><i class="page-link">…</i></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=27&amp;sort=number">27</a></li> <li class="page-item"><a class="page-link" href="/episodes?direction=desc&amp;page=28&amp;sort=number">28</a></li> <li class="page-item"><a class="page-link" rel="next" href="/episodes?direction=desc&amp;page=2&amp;sort=number">→</a></li></ul></nav>
  </div>
</div>
